*{
text-align:center
}
body{
background-image:url("logo.png");background-repeat:no-repeat;
}
.link{
    background-color: aquamarine;
    border:solid;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
}
.item{
    background-color:aquamarine;
    border:solid;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}